@import "./lib-color.scss";
.ini{
  &-w{
    &-100{
      width: 100%;
      max-width: 100%;
      min-width: 100%;
    }
  }
  &-message{
    &-error{
      color: $danger;
      font-size: 12px;
      display: block;
      margin: 4px;
    }
  }
  &-relative{
    position: relative;
  }
  &-flex-center-vertical{
    display: flex;
    align-items: center;
  }
}