@import "./lib-color.scss";
@mixin button-base($bgColor, $borderColor, $hoverBgColor, $textColor) {
  border-radius: .3rem;
  font-size: 1rem;
  padding: 0 1.2rem;
  height: 36px;
  box-shadow: none;
  outline: none;
  cursor: pointer;
  background: $bgColor;
  border: 1px solid $borderColor;
  color: $textColor;
  transition: all .3s;
  font-size: 14px;
  &:hover{
    background: $hoverBgColor;
    transition: all .3s;
  }
}
.ini-btn{
  &-primary{
    @include button-base($primary, $primary, $primaryDark, white);
  }
  &-info{
    @include button-base($info, $info, $infoDark, white);
  }
  &-success{
    @include button-base($success, $success, $successDark, white);
  }
  &-warning{
    @include button-base($warning, $warning, $warningDark, white);
  }
  &-danger{
    @include button-base($danger, $danger, $dangerDark, white);
  }
  &-default{
    @include button-base($gray, $gray, $grayDark, white);
  }
  &-o-primary{
    @include button-base(transparent, $primary, $primaryDark, $primary);
    &:hover{color: white;}
  }
  &-o-info{
    @include button-base(transparent, $info, $infoDark, $info);
    &:hover{color: white;}
  }
  &-o-success{
    @include button-base(transparent, $success, $successDark, $success);
    &:hover{color: white;}
  }
  &-o-danger{
    @include button-base(transparent, $danger, $dangerDark, $danger);
    &:hover{color: white;}
  }
  &-o-warning{
    @include button-base(transparent, $warning, $warningDark, $warning);
    &:hover{color: white;}
  }
  &-o-default{
    @include button-base(transparent, $gray, $grayDark, $gray);
    &:hover{color: white;}
  }
  &-large{
    height: 46px;
    font-size: 16px;
  }
  &-rounded{
    border-radius: 1rem;
  }
}