@import "./ini-button.scss";
@import "./ini-spacing.scss";
@import "./ini-container.scss";
@import "./ini-typography.scss";
@import "./ini-heading.scss";
@import "./ini-divider.scss";
@import "./ini-table.scss";
@import "./ini-input.scss";
@import "./ini-utility.scss";
@import "./ini-grids.scss";
@import "./ini-flexbox.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}
button[disabled],
input[disabled],
textarea[disabled],
select[disabled]{
  cursor: not-allowed;
  opacity: 0.3;
}
a,
button,
input,
textarea,
select{
  font-family: sans-serif;
  &:focus{
    outline: none;
  }
}
a{
  text-decoration: none;
}
@font-face {
  font-family: 'ini';
  src: url('https://ovinsyah.com/espresso-icon.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}     
.ini-icon{
  font-family: "ini";
  font-style: normal;
  font-weight: normal;
  color: $gray;
}