@import "./ini-button.scss";
@import "./ini-spacing.scss";
@import "./ini-container.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}
button[disabled],
input[disabled],
textarea[disabled],
select[disabled]{
  cursor: not-allowed;
  opacity: 0.3;
}
a,
button,
input,
textarea,
select{
  font-family: sans-serif;
  &:focus{
    outline: none;
  }
}
a{
  text-decoration: none;
}